.sidebar {
  border-right: 1px solid var(--pet-background);
  flex: 0.3;
  /* min-width: 250px; */
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.sidebar__petIcon {
  color: rgb(224, 127, 143);
  font-size: 30px !important;
  margin-left: 20px;
  margin-bottom: 20px;
}

.sidebar__post {
  background-color: var(--pet-color) !important;
  border: none !important;
  color: white;
  font-weight: 900 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  height: 50px !important;
  margin-top: 20px !important;
}
